<!DOCTYPE html>
<html>
<head>
  <title>ApiClientDemo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>
</body>
</html>
